body {
    background-color: #0A090A;
    color: white;
    font-family: 'Roboto', sans-serif;
    /* Фоновое изображение. */
    background-image: url("../img/main-bg.jpg");
    background-repeat: no-repeat;
    background-position: top center;
}

.container {
    /* Максимальная ширина. */
    max-width: 1140px;
    /* Выравниваем по центру. */
    margin: auto;
}
/* Стили для header */
header {
    display: flex;
    /* Выравниваю по центру по вертикали. */
    align-items: center;
    justify-content: space-between;
    /* Внутренний отступ сверху. */
    padding-top: 45px;
    margin-bottom: 30%;
}

.logo {
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
}

.search {
    display: flex;
    align-items: center;
    flex: 0.8;
}

.search-input {
    flex: 1;
    background: rgba(196, 196, 196, 0.5);
    border-radius: 5px;
    /* Внутренние отступы. */
    padding: 12px 18px 12px 18px;
    /* Убираем рамку. */
    border: none;
    color: #AEAEAE;
    font-size: 14px;
    line-height: 16px;  
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #AEAEAE;
  opacity: 1; /* Firefox */
}

.search-button {
    background-color: transparent;
    border: none;
    padding: 10px 18px;
}

.user {
    display: flex;
    align-items: center;
}

.avatar {
    margin-left: 20px;
    width: 40px;
    height: 40px;
    /* Скругляем аватар. */
    border-radius: 50%;
    /* Равномерно заполняем не растягивая изображение. */
    object-fit: cover;
}

.title {
    margin: 0;
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    line-height: 64px;
    margin-bottom: 7px;
}

.title-en {
    display: inline-block;
    font-size: 20px;
    line-height: 23px;
    color: #787878;
    margin-bottom: 38px;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}

.movie-info {
    display: flex;
    align-items: center;
}

.tag {
    display: inline-block;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    border-radius: 3px;
    background: #fff;
    padding: 5px 10px;
    margin-right: 20px;
}

.country {
    font-size: 16px;
    line-height: 19px;
    margin-right: 33px;
}

.play {
    display: flex;
    align-items: center;
    line-height: 19px;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}

.play:before {
    margin-right: 15px;
    content: '';
    width: 30px;
    height: 30px;
    background-image: url(../img/play.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.more {
    display: flex;
    align-items: center;
    line-height: 19px;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}

.more:after {
    margin-left: 15px;
    content: '';
    width: 30px;
    height: 30px;
    background-image: url(../img/play.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    transform: rotate(90deg);
}

.content {
    display: flex;
    justify-content: space-between;
    background: #fff;
    border-radius: 3px;
    color: black;
    padding: 3% 4%;
    margin-bottom: 5%;
}

.short-info {
    margin-right: 3%;
}

.poster {
    display: block;
    margin-top: -40%;
    margin-bottom: 20px;
}

.button {
    background: #ff8f27;
    padding: 10px 44px;
    color: white;
    font-size: 14px;
    line-height: 16px;
    border: none;
}

.actors-title {
    padding-left: 15px;
    font-weight: 900;
    font-size: 16px;
    margin-bottom: 10px;
}

.actors-list {
    font-size: 16px;
    margin: 0;
    list-style: none;
    padding-left: 15px;
    text-decoration: underline;
    line-height: 150%;
}

.full-content {
    justify-content: space-between;
    display: flex;
}

.full-info {
    flex: 0.97;
}

.tabs-content {
    display: none;
    margin-right: 70px;
}

.visible {
    display: block;
}

.tabs-item {
    color: black;
    text-decoration: none;
    margin-right: 40px;
    font-size: 18px;
    line-height: 20px;
}
/* задать стили всем, но не последнему */
.tabs-item:not(:last-child) {
    margin-right: 4%; 
}

.tabs {
    display: flex;
    align-items: center;
    margin-bottom: 4%;
}

.tabs-item-active {
    color: #ff8f27;
}

.text {
    font-size: 16px;
    margin-top: 0;
}

.text-title {
    font-size: 16px;
}

.subscribe-title {
    font-weight: 900;
    font-size: 16px;
    line-height: 150%;
    margin-top: 0;
    margin-bottom: 40px;
}

.subscribe-form {
    display: flex;
    margin-bottom: 40px;
}

.subscribe-input {
    background: rgba(196, 196, 196, 0.5);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 12px 18px 12px 18px;
    border: none;
    color: #AEAEAE;
    font-size: 14px;
    line-height: 16px; 
}

.subscribe-button {
    background:#ff8f27;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 12px;

}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .tabs-item {
        font-style: 16px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 740px;
    }
    .tabs-item {
        flex-basis: 20%;
        line-height: 2;
    }
    .full-content {
        flex-wrap: wrap;
    }
    .tabs-content {
        margin-bottom: 5px;
    }
    .text{
        font-size: 14px;
    }
    .actors-list {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }

    .more {
        display: none;
    }

    .tabs-item {
        flex-basis: 33%;
    }

    .tabs-content {
        margin-right: 0;
    }

}

@media (max-width: 578px) {
    .container {
        max-width: 90%;
    }

    .header {
        flex-wrap: wrap;
    }

    .search {
        flex-basis: 100%;
        order: 3;
        margin-top: 5%;
    }

    .content {
        flex-wrap: wrap;
    }

    .short-info {
        margin-bottom: 5%;
    }

    .actors-list, .actors-title {
        display: none;
    }

    .movie-info {
        flex-wrap: wrap;  
    }

    .play {
        flex-basis: 100%;
        margin-top: 10%;
    }

    .short-info {
        margin-right: 0;
    }

    .poster {
        width: 100%;
        display: inline-block;
        margin-top: -20%;
    }

    .button {
        width: 100%;
    }
}